echo "# Capstone_project" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/OyebolaS/Capstone_project.git
git push -u origin main

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r'C:\Users\DELL 5480\Desktop\final project\Final Project\call log.csv')

In [19]:
df2 = pd.read_csv(r'C:\Users\DELL 5480\Desktop\final project\Final Project\call details.csv')

In [20]:
df

,id,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours
0,1,CALLER_1,163,Billing discrepancy,122.0,CLOSED,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,NaN,new,NaN
2,3,CALLER_3,153,Wrong item received,122.0,resolved,NaN
3,4,CALLER_4,161,Unauthorized charges,151.0,pEnding,NaN
4,5,CALLER_5,148,Unprofessional behavior,NaN,new,NaN
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169.0,new,NaN
596,597,CALLER_597,159,Slow response time,NaN,resolved,NaN
597,598,CALLER_598,148,Shipping delay,150.0,pending,NaN
598,599,CALLER_599,161,Website not working,148.0,pEnding,NaN
599,600,CALLER_600,127,Wrong item received,149.0,resolved,NaN

In [21]:
df2

,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
0,ageentsGradeLevel,97,A,Inbound,False
1,2,64,E,in-bound,True
2,3,100,C,in-bound,False
3,4,69,D,Outbound,True
4,5,96,D,Inbound,True
...,...,...,...,...,...
595,596,147,E,Outbound,True
596,597,90,A,in-bound,True
597,598,89,F,Outbound,True
598,599,146,D,Inbound,False
599,600,103,C,Outbound,False

In [22]:
#capitalize !st letters in status column
df['status']= df['status'].str.lower().str.capitalize()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         600 non-null    int64
 1   callerID                   600 non-null    object
 2   agentID                    600 non-null    int64
 3   complaintTopic             600 non-null    object
 4   assignedTo                 372 non-null    float64
 5   status                     600 non-null    object
 6   resolutionDurationInHours  187 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 32.9+ KB

In [24]:
#fill missing assignedTo values with agentID where missing
for i in df.values:
    df['assignedTo']=df['assignedTo'].fillna(df['agentID'])

In [25]:
df

,id,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours
0,1,CALLER_1,163,Billing discrepancy,122.0,Closed,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,133.0,New,NaN
2,3,CALLER_3,153,Wrong item received,122.0,Resolved,NaN
3,4,CALLER_4,161,Unauthorized charges,151.0,Pending,NaN
4,5,CALLER_5,148,Unprofessional behavior,148.0,New,NaN
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169.0,New,NaN
596,597,CALLER_597,159,Slow response time,159.0,Resolved,NaN
597,598,CALLER_598,148,Shipping delay,150.0,Pending,NaN
598,599,CALLER_599,161,Website not working,148.0,Pending,NaN
599,600,CALLER_600,127,Wrong item received,149.0,Resolved,NaN

In [26]:
#changing the datatype from float to integer for assignedTo column
df['assignedTo']= df['assignedTo'].astype(int)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         600 non-null    int64
 1   callerID                   600 non-null    object
 2   agentID                    600 non-null    int64
 3   complaintTopic             600 non-null    object
 4   assignedTo                 600 non-null    int32
 5   status                     600 non-null    object
 6   resolutionDurationInHours  187 non-null    float64
dtypes: float64(1), int32(1), int64(2), object(3)
memory usage: 30.6+ KB

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         600 non-null    int64
 1   callerID                   600 non-null    object
 2   agentID                    600 non-null    int64
 3   complaintTopic             600 non-null    object
 4   assignedTo                 600 non-null    int32
 5   status                     600 non-null    object
 6   resolutionDurationInHours  187 non-null    float64
dtypes: float64(1), int32(1), int64(2), object(3)
memory usage: 30.6+ KB

In [29]:
 #filling blank rows in resolutionDurationInHours column
df.resolutionDurationInHours =  df.resolutionDurationInHours.fillna('Not provided')

In [30]:
df

,id,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours
0,1,CALLER_1,163,Billing discrepancy,122,Closed,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,133,New,Not provided
2,3,CALLER_3,153,Wrong item received,122,Resolved,Not provided
3,4,CALLER_4,161,Unauthorized charges,151,Pending,Not provided
4,5,CALLER_5,148,Unprofessional behavior,148,New,Not provided
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169,New,Not provided
596,597,CALLER_597,159,Slow response time,159,Resolved,Not provided
597,598,CALLER_598,148,Shipping delay,150,Pending,Not provided
598,599,CALLER_599,161,Website not working,148,Pending,Not provided
599,600,CALLER_600,127,Wrong item received,149,Resolved,Not provided

In [31]:
#REMOVING DUPLICATES IN CALL LOG TABLE
df.T.drop_duplicates().T

,id,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours
0,1,CALLER_1,163,Billing discrepancy,122,Closed,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,133,New,Not provided
2,3,CALLER_3,153,Wrong item received,122,Resolved,Not provided
3,4,CALLER_4,161,Unauthorized charges,151,Pending,Not provided
4,5,CALLER_5,148,Unprofessional behavior,148,New,Not provided
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169,New,Not provided
596,597,CALLER_597,159,Slow response time,159,Resolved,Not provided
597,598,CALLER_598,148,Shipping delay,150,Pending,Not provided
598,599,CALLER_599,161,Website not working,148,Pending,Not provided
599,600,CALLER_600,127,Wrong item received,149,Resolved,Not provided

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   callID                 600 non-null    object
 1   callDurationInSeconds  600 non-null    int64
 2   agentsGradeLevel       600 non-null    object
 3   callType               600 non-null    object
 4   callEndedByAgent       600 non-null    bool
dtypes: bool(1), int64(1), object(3)
memory usage: 19.5+ KB

In [33]:
df2.T.drop_duplicates().T

,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
0,ageentsGradeLevel,97,A,Inbound,False
1,2,64,E,in-bound,True
2,3,100,C,in-bound,False
3,4,69,D,Outbound,True
4,5,96,D,Inbound,True
...,...,...,...,...,...
595,596,147,E,Outbound,True
596,597,90,A,in-bound,True
597,598,89,F,Outbound,True
598,599,146,D,Inbound,False
599,600,103,C,Outbound,False

In [34]:
#changing the value of 1st row in callID column
df2.at[0,'callID']='1'

In [35]:
df2

    callID  callDurationInSeconds agentsGradeLevel  callType  callEndedByAgent
0        1                     97                A   Inbound             False
1        2                     64                E  in-bound              True
2        3                    100                C  in-bound             False
3        4                     69                D  Outbound              True
4        5                     96                D   Inbound              True
..     ...                    ...              ...       ...               ...
595    596                    147                E  Outbound              True
596    597                     90                A  in-bound              True
597    598                     89                F  Outbound              True
598    599                    146                D   Inbound             False
599    600                    103                C  Outbound             False

[600 rows x 5 columns]

In [36]:
df2['callID']= df2['callID'].astype(int)

In [37]:
#capitalize !st letters in callType column and removing - in inbound
df2['callType']= df2['callType'].str.lower().str.capitalize()
df2['callType']= df2['callType'].str.replace('-', '')

In [38]:
df2

,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
0,1,97,A,Inbound,False
1,2,64,E,Inbound,True
2,3,100,C,Inbound,False
3,4,69,D,Outbound,True
4,5,96,D,Inbound,True
...,...,...,...,...,...
595,596,147,E,Outbound,True
596,597,90,A,Inbound,True
597,598,89,F,Outbound,True
598,599,146,D,Inbound,False
599,600,103,C,Outbound,False

In [39]:
df['assigned_calls_to_agent_id'] = df['assignedTo'].copy()

In [ ]:
df['assigned_calls_to_agent_id'] = df['assignedTo'].copy()

In [45]:
df.to_csv ('cleaned_call_log.csv')
df2.to_csv('cleaned_call_details.csv')